trigger:
  branches:
    include:
      - '*'

pr:
  branches:
    include:
      - main
      - master

pool:
  name: 'Default'   # uses your dev server's default self-hosted agent

variables:
  node_version: '20.x'
  npm_config_cache: $(Pipeline.Workspace)/.npm
  run_selenium_tests: 'false'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(node_version)
    displayName: Install Node.js

  - task: Cache@2
    inputs:
      key: 'npm | "$(Agent.OS)" | package-lock.json'
      restoreKeys: |
        npm | "$(Agent.OS)"
      path: $(npm_config_cache)
    displayName: Cache npm

  - script: npm ci
    displayName: Install dependencies
    env:
      npm_config_cache: $(npm_config_cache)

  - script: npm run build
    displayName: Build

  - script: npm run test:selenium
    displayName: Selenium tests
    condition: and(succeeded(), eq(variables.run_selenium_tests, 'true'))

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '$(Build.SourcesDirectory)/dist'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/web-dist.zip'
      replaceExistingArchive: true
    displayName: Create dist zip

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/web-dist.zip'
      ArtifactName: web-dist
      publishLocation: Container
    displayName: Publish artifact
